@import "tailwindcss";

@theme {
  --color-primary: #8B1E3F;
  --color-secondary: #1A1A1A;
  --color-accent: #D4AF37;
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}